<p>view works!</p>
<h1 *ngIf="listCarBrand">Displaying {{listCarBrand.length}} brands</h1>
<div class="row">
    <div class="search-brand">
        <mat-card>
            <mat-card-title>
                Search
            </mat-card-title>
            <mat-card-content>
                <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search by name or nation">
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="main-content">
        <mat-card class="list-brands" role="listitem" *ngFor="let carBrand of listCarBrand | filter:searchText">
            <mat-card-title>
                {{carBrand.name}}
            </mat-card-title>
            <mat-card-content>
                {{carBrand.national}}
            </mat-card-content>
            <mat-card-actions>
                <a class="action-link" [routerLink]="['/cars/view-detail',carBrand.id]">Details</a>
            |
            <a class="action-link" [routerLink]="['/cars/edit',carBrand.id]">Edit</a>
            | <a class="action-link" [routerLink]="['/cars/delete',carBrand.id]">Delete</a>
            </mat-card-actions>
        </mat-card>
</div>